<a href="https://colab.research.google.com/github/muscak/Master-Machine-Learning-Algorithms/blob/master/Nonlinear-Algorithms/Naive-Bayes/Naive_and_Gaussian_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction

## Table of Contents
1. [Import Libraries](#libraries) 
2. [Naive Bayes](#naive)
3. [Gaussian Bayes](#gaus)

## Import Libraries<a id='libraries'><a/>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
sb.set_style('whitegrid')
sb.despine(offset=10, trim=True);

# Naive Bayes<a id='naive'></a>

## Load Sample Data

In [3]:
weather = ['sunny', 'rainy', 'sunny', 'sunny', 'sunny', 'rainy', 'rainy', 'sunny', 'sunny', 'rainy']
car = ['working', 'broken', 'working', 'working', 'working', 'broken', 'broken', 'working', 'broken', 'broken']
action = ['go-out', 'go-out', 'go-out', 'go-out', 'go-out', 'stay-home', 'stay-home', 'stay-home', 'stay-home', 'stay-home']

df = pd.DataFrame(zip(weather, car, action), columns=['weather', 'car', 'action'])
df

  weather      car     action
0   sunny  working     go-out
1   rainy   broken     go-out
2   sunny  working     go-out
3   sunny  working     go-out
4   sunny  working     go-out
5   rainy   broken  stay-home
6   rainy   broken  stay-home
7   sunny  working  stay-home
8   sunny   broken  stay-home
9   rainy   broken  stay-home

# Gaussian Bayes<a id='gaus'></a>